<mat-toolbar ...>
  <div class="w-full max-w-6xl mx-auto flex items-center gap-4">
    <span class="font-semibold text-2xl md:text-3xl">ComponentsCore</span>
    <span class="flex-1"></span>

    <button mat-button class="md:hidden">menu</button>

    <nav class="hidden md:flex gap-1">
      <a mat-button routerLink="/products"
         class="px-2 hover:bg-slate-800 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-sky-400">
        Productos
      </a>
      <a mat-button routerLink="/cart"
         class="px-2 hover:bg-slate-800 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-sky-400">
        Carrito
        @if (CartService.countItems() > 0) {
          <span class="text-xs bg-red-600 text-white rounded-full px-2 ml-2 min-w-5 text-center inline-block">
            {{ CartService.countItems() }}
          </span>
        }
      </a>
      @if (auth.hasRole('admin', 'employee')) {
      <a mat-button routerLink="/admin"
         class="px-2 hover:bg-slate-800 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-sky-400">
        Admin
      </a>
      }
    </nav>

    <div class="hidden md:flex gap-2 ml-2">
      @if (!auth.isLoggedIn()) {
        <a mat-stroked-button routerLink="/login">Iniciar sesión</a>
      } @else {
        <button mat-stroked-button (click)="auth.logout()">Cerrar sesión</button>
      }
    </div>
  </div>
</mat-toolbar>
<main class="p-4">
  <router-outlet></router-outlet>
</main>